
body {
  background-image: url("https://cloud.githubusercontent.com/assets/12816548/10356765/c613ec44-6d37-11e5-83b7-c1daaff4e1c3.jpg")
  }
h1 {
  font-family: 'Permanent Marker', cursive;, Arial, serif;
  font-size: 80px;
  padding-bottom: -100px;
}
h2 {
  font-family: 'Permanent Marker', cursive;, Arial, serif;
  font-size: 40px;
  padding-bottom: -10px;
}
p,ul {
  Arial, serif;
  font-size: 24px;
  font-weight: 400;
}
div.columns {
    width: 100%;
}
div.columns div {
  width: 30%;
}
div.dark {
  background-color: black;
  opacity: 0.4;
}
div.light{
  background-color: white;
  opacity: 0.4;
}
a {
  color: #E61669;
  font-size: 24px;
  font-weight: bold;
}
a:visited {
    color: #0066CC;
    font-size:24px;
    font-weight: bold;
}
li {
  margin: 5px;
}
