
body {
  background-image: url("https://cloud.githubusercontent.com/assets/12816548/10356765/c613ec44-6d37-11e5-83b7-c1daaff4e1c3.jpg")
  }
h1 {
  font-family: 'Permanent Marker', cursive;, Arial, serif;
  font-size: 80px;
  margin-bottom: 0;
}
h2 {
  font-family: 'Permanent Marker', cursive;, Arial, serif;
  font-size: 40px;
  margin: 0;
}
p,ul {
  font-family: Arial, serif;
  font-size: 20px;
}
li {
  margin: 5px;
}
div.columns {
    width: 100%;
}
div.columns div {
  width: 30%;
  float: left;
  padding: 10px;
}
div.clear {
  clear: both;
}
div.columns a, a:visited {
  color: #B81254;
  font-size: 24px;
  font-weight: bold;
}
div.columns .sites a, .sites a:visited {
  color: #B81254;
  font-size: 20px;
}
